body{
    margin: 10px 30px;
    /*border: 1px solid red;*/
    padding: 10px;
    /*font-weight: bold;*/
}
.body-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
*{
    font-family: 'Nunito',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* container for everything inside the nav */
.nav-container {
    width: 60%;
    /*height: 10vh;*/
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*flex-wrap: wrap;*/
    /*flex-direction: column;*/
}
/* logo */
.logo {
    font-weight: bolder;
    font-size: 1em;
}
.logo span {
    color: #EC4067;
}

/*nav links */
.nav-links {
    position: relative;
    display: flex;
    text-decoration: none;
}
.links {
    list-style-type: none;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}
.links a {
    text-decoration: none;
    color: black;
}
.btn button {
    width: 80px;
    height: 40px;
    /*position: relative;*/
    left: 400px;
    margin-top: 50px;
    background-color: #EC4067;
    color: white;
}
.btn a {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
}
h2 {
    color: #EC4067;
    font-size: 35px;
}
.main-container {
    display: flex;
    margin: 20px 300px;
    /*border: 1px solid green;*/
    padding: 5px;
    width: 1050px;
    /*flex-wrap: wrap;*/
}
.content {
    /*border: 1px solid red;*/
    width: 480px;
    padding: 8px;
}
.content .dev {
    background-color: white;
    /*border: 1px solid #EC4067;*/
    width: 120px;
    height: 40px;
    padding: 8px 20px;
    border-radius: 2px;
    /*color: green;*/
}
button {
    background-color: #EC4067;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    width: 120px;
    height: 40px;
    margin: 10px;
}

img{
    width: 480px;
    height: 300px;
}

.success-container {
    margin: 10px 300px;
    /*border: 1px solid blue;*/
    width: 1050px;
}
.bt-title {
    margin: 20px 0;
    /*border: 1px solid yellow;*/
    padding: 5px;
}
.stories {
    margin: 20px 0;
    /*border: 1px solid turquoise;*/
    display: flex;
    padding: 8px;
    /*object-fit: cover;*/
    /*flex-wrap: wrap;*/
    /*!*flex: 50%;*!*/
}
strong {
    font-size: 1.2em;
    background-color: whitesmoke;
}
h3 {
    font-weight: 5000;
    font-size: 2em;
}
.img-1 {
    margin-top: 5px;
    /*border: 1px solid green;*/
    padding: 8px;
    height: 310px;

}
.img-2 {
    margin: 40px;
    width: 500px;
    height: 300px;
    /*border: 1px solid green;*/
    padding: 8px;
}
.img-2 .btn-1 {
    background-color: #EC4067;
    text-decoration: none;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 5px;
}
.stories button, a {
    text-decoration: none;
    color: white;
    font-size: 1.05em;
}

/*mentors*/
.mentor-container {
    /*border: 1px solid forestgreen;*/
    display: flex;
    flex-direction: column;
    /*margin: 10px 300px;*/
    /*object-fit: cover;*/
    flex-grow: 1;
    /*position: relative;*/
    /*flex-flow: wrap column;*/
    /*align-content: center;*/
    /*justify-content: center;*/
    width: 1050px;
}

.cards{
    /*border: 1px solid forestgreen;*/
    display: flex;
    flex-flow: wrap row;
    /*justify-content: center;*/
}

.mentor-card {
    background-color: white;
    width: 240px;
    height: 450px;
    margin: 10px;
}
.card-img {
    /*background-color: aqua;*/
    /*height: 250px;*/
    /*object-fit: contain;*/
    margin-bottom: 10px;
    /*background-image: url("../images/image 5.png");*/

}
.img-5 {
    background-image: url("../images/image 5.png");
    /*height: 150px;*/
    background-size: cover;


}
.img-6 {
    background-image: url("../images/image 6.png");
    /*height: 150px;*/
    background-size: cover;
}
.img-7 {
    background-image: url("../images/image 7.png");
    /*height: 150px;*/
    background-size: cover;
}
.img-8 {
    background-image: url("../images/image 8.png");
    /*height: 150px;*/
    background-size: cover;
}
.img-10 img {
    width: 600px;
}
footer {
    text-align: center;
    background-color: whitesmoke;
    width: 100vh;
    padding-top: 40px;
    padding-bottom: 40px;
}